.hero-banner {
    @extend %responsive-trigger;
    z-index: -10;
}

.hero-banner.large {
    position: absolute;
    top: rhythm(4, 16px);
    @include span(24 of 24 no-gutters);
    @include clearfix;
    height: image-height('images/powerseal-hero-large.jpg');
    @include background-image(url('images/powerseal-hero-large.jpg'));
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-banner.medium {
    position: absolute;
    top: rhythm(3, 16px);
    @include span(18 of 18 no-gutters);
    @include clearfix;
    height: image-height('images/powerseal-hero-large.jpg');
    background-image: url('images/powerseal-hero-large.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-banner.small {
    position: absolute;
    top: rhythm(1.75, 16px);
    @include span(12 of 12 no-gutters);
    @include clearfix;
    height: image-height('images/powerseal-hero-small.jpg');
    background-image: url('images/powerseal-hero-small.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}