.hero-banner {
    @extend %responsive-trigger;
    z-index: -10;
}

.hero-banner.large {
    @include span(24 of 24 no-gutters);
    @include clearfix;
    height: rhythm(16, 16px);
    max-height: rhythm(16, 16px);
    @include background-image(url('images/powerseal-hero-large.jpg'));
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-banner.medium-large {
    @include span(24 of 24 no-gutters);
    @include clearfix;
    height: rhythm(10, 16px);
    @include background-image(url('images/powerseal-hero-large.jpg'));
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-banner.medium {
    @include span(18 of 18 no-gutters);
    @include clearfix;
    height: rhythm(11, 16px);
    background-image: url('images/powerseal-hero-medium.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-banner.small {
    @include span(12 of 12 no-gutters);
    @include clearfix;
    height: image-height('images/powerseal-hero-small.jpg');
    margin-top: rhythm(2.5, 16px);
    background-image: url('images/powerseal-hero-small.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}