body {
    @include container;
    @include clearfix;
    @include span(24 no-gutters);
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    background: $black-lite;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include susy-breakpoint($bp-medium, $columns-medium);
    @include susy-breakpoint($bp-small, $columns-small);
}