.content {
    position: relative;
    @include span(24 of 24 no-gutters);
    @include clearfix;
    padding: rhythm(1, 16px) span(6 of 24) 0 span(6 of 24);
    @include background-image($content-gradient);
    color: $white;
    z-index: 20;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18 no-gutters);
        padding: rhythm(1, 16px) span(2 of 18) 0 span(2 of 18);
    }
    @include susy-breakpoint($bp-small, $columns-small) {
        margin-top: rhythm(-2, 16px);
        @include span(12 of 12 no-gutters);
        padding: 0 span(1 of 12) 0 span(1 of 12);
    }
}