.contact {
    position: relative;
    &-header {
        padding: rhythm(.5, 16px) 0;
        border-top: .1em solid rgba($white, .5);
        border-bottom: .1em solid rgba($white, .5);
    }
    &-telephone {
        @include icon('before', true, 'icon-phone');
        &:before {
            padding-right: gutters(1)/3;
        }
        &-detail {
            color: $white;
            text-decoration: none;
            margin-left: span(2 of 24);
            @include susy-breakpoint($bp-small, $columns-small) {
                // margin-left: span(1 of 12);
                padding: rhythm(.5, 16px);
                border: .1em solid rgba($white, .5);
                border-radius: .25em;
            }
        }
    }
    &-address {
        @include icon('before', true, 'icon-envelope');
        &:before {
            padding-right: gutters(1)/3;
        }

        &-detail {
            margin-left: span(2 of 24);
        }
    }
    &-fax{
        @include icon('before', true, 'icon-print');
        &:before {
            padding-right: gutters(1)/3;
        }
    }
}

#simple-contact-form {
    @include span(24 of 24);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
    }
    @include susy-breakpoint($bp-small, $columns-small) {
        @include span(12 of 12);
    }
}
.scf {
    &-name {
        border: none;
        @include span(24 of 24);
        margin: 0 0 rhythm(1, 16px) 0;
        padding: rhythm(.25, 16px) 0;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            @include span(18 of 18);
        }
        @include susy-breakpoint($bp-small, $columns-small) {
            @include span(12 of 12);
        }
        label {
            float: left;
            padding-right: span(1);
            line-height: 1.8;
        }
        input {
            float: right;
            line-height: 2em;
            width: 100%;
            background-color: lighten($white, 10%);
            border: .1em solid $blue;
            &:active {
                border: .2em solid $cyan;
            }
            &:focus {
                border: .2em solid $cyan;
            }
        }
    }
    &-email {
        @extend .scf-name;
    }
    &-response {
        @extend .scf-name;
    }
    &-message {
        @extend .scf-name;
        textarea {
            float: right;
            width: 100%;
            &:active {
                border: .2em solid $cyan;
            }
            &:focus {
                border: .2em solid $cyan;
            }
        }
    }
    &-submit {
        margin-bottom: rhythm(3, 16px);
        #scf_contact {
            @include transition(border 0.3s ease-in, box-shadow 0.3s ease-in);
            padding: rhythm(.5, 16px);
            background: transparent;
            border: .1em solid rgba($white, .5);
            border-radius: .25em;
            color: $white;
            &:hover {
                border: .1em solid rgba($white, .5);
                @include box-shadow(0px 0px 7px 3px rgba($white, .3));
                cursor: pointer;
            }
        }
    }
}