$black: rgb(45, 45, 45);
$black-lite: lighten($black, 15%);
$black-dark: darken($black, 15%);

$white: lighten($black, 65%);

$content-gradient: linear-gradient(top, $black 0%, $black-lite 100%);
$nav-gradient: linear-gradient(top, rgba($black, .8) 0%, rgba($black-lite, .8) 100%);