%responsive-trigger {
    &:after {
        content: "computer";
        display: block;
        position: absolute;
        top: 0px;
        left: -1000px;
        @include susy-breakpoint($bp-medium-large, $columns-medium-large) {
            content: "laptop";
        }
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-small, $columns-small) {
            content: "phone";
        }
    }
}

%action {
    @include transition(border 0.3s ease-in, box-shadow 0.3s ease-in);
    padding: rhythm(3, 16px) 0;
    text-align: center;
    color: $white;
    text-decoration: none;
    border: .1em solid rgba($white, .1);
    border-radius: 1em;
    &:hover {
        border: .1em solid rgba($white, .75);
            @include box-shadow(0px 0px 7px 3px rgba($white, .5));
    }
}